<!-- nav -->
<div class="navbar navbar-fixed-top navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand navbar-left">
            <button class="btn btn-default">
                <a class="nav-item" routerLink="/">Home</a>
            </button>
            <button class="btn btn-default">
                <a class="nav-item" routerLink="/listorder">Order</a>
            </button>
        </a>
    </div>
    <div class="navbar-header pull-right">
        <div class="navbar-nav">
            <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </div>
</div>